<%=params%>

<form action="/payment/results">
  <label for="zebra">APR</label>
  <input id="zebra" type="text" name="user_apr" placeholder="E.g. 5.42">
 
<div>
  <label for="alpha">Number of years</label>
  <input id="alpha" text="text" name="user_years" placeholder="How many years to repay?">
</div>

<div>
  <label for="beta">Principal</label>
  <input id="beta" text="text" name="user_pv" placeholder="How much principal?">
</div>

  <button>
    Calculate monthly payment
  </button>

</form>
